@model ArticlesGui.Controllers.InsertArticleInputModel

@{
    ViewBag.Title = "Insert Article";
}

<h2>Insert Article</h2>
@using (Html.BeginForm())
{
    <label>Name:</label>
    @Html.TextBoxFor(model => model.Name, new { autofocus = true });
    <input type="submit" value="Insert" />
}
