@*@using Articles.ReadModel*@
@*@model IEnumerable<ArticleListDto>*@

@{
    ViewBag.Title = "Articles";
}

<h2>Articles</h2>
<ul>
@*    @foreach (var article in Model)
    {
        <li>
            @Html.ActionLink(article.Name, "Details", new { Id = article.ArticleId })
        </li>
    }
*@
</ul>
@*@Html.ActionLink("Insert article", "Insert")*@